// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/_base.sass file.
//@import "partials/base"

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint"

//==============
// My Imports
//==============
@import compass/utilities/general.scss
//@import compass/utilities/text.scss
@import compass/utilities/links.scss
@import compass/utilities/lists.scss
@import compass/utilities/tables.scss
@import compass/css3

//==============
// Typography
//==============
$sans_serif_font: Helvetica, Arial, Verdana, sans-serif
$serif_font: Georgia, Times, Times New Roman, serif
$monospace_font: Monaco, Courier New, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace
$blueprint-font-family: $sans_serif_font
$blueprint-font-size: 16px
//@include blueprint-typography

// Generate the blueprint framework according to our configuration:
@include blueprint

//==============
// My Variables
//==============
$container_width: 960px
$content_width: 800px
$header_color: #5ba63d

body 
  background-color: #fafafa
  min-width: $content_width

  a, a:link, a:visited 
    +hover-link
    color: #03c
  .logo 
    font-family: $serif-font
    font-style: italic
  //#messages
  //  +messages-style

  #header
    //For making header text elements line up:
    line-height: 1
    padding-bottom: 0.3em
    font-family: $serif_font

    background-color: $header_color
    padding: 0.6em 1.2em 0.5em
    margin-bottom: 0.7em
    border-bottom: 1px solid #ccc
    text-align: right
    +clearfix
    h1
      margin-left: 5px
      font-size: 1.25em
      float: left
      margin: 0
      a
        color: #eef7ea
        text-decoration: none
    ul#navigation
      font-variant: small-caps
      font-size: 1.313em
      margin-bottom: 0
      +inline-list
      li
        margin-left: 0.4em
        a
          color: #eef7ea

  #container 
    margin: 0 auto
    min-width: $content_width
    max-width: $container_width
    padding: 0 1em 0 1.5em
    border: 1px solid #ccc

  #content
    #worksheet_header
      font-family: $serif_font
      margin-bottom: 0.5em
      h1
        font-size: 1.7em
        margin-bottom: 0

    #worksheet
      background-color: white
      width: 70%
      padding: 0.5em 1em
      margin-right: 1em
      //border: 1px solid #ccc
      //+border-radius(3px)
      @include box-shadow(#999)
      float: left

    #sidebar
      //float: right

  #footer
    clear: both
    //float: left
    margin-top: 20px
    margin-bottom: 10px
    text-align: right
    font-size: 0.6em
    font-family: $serif_font
    color: #ccc
    a
      color: #ccc
